<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Us</title>
<link rel="stylesheet" href="../../css/nav_art.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
<style>
video{
	width: 80%;
}
input{
width: 10%;
height: 15%;
}
iframe{
width:80%;
height: 80%;
text-align: center;
}
</style>
</head>
<body>
	<div>
		<h2>ABOUT US</h2>
		<hr>
		<input type="image" src="../../image/nike.png" onclick="ifr.location.href='../../multi/nike.mp4'">
		<input type="image" src="../../image/versace.png" onclick="ifr.location.href='../../multi/versace.mp4'">
		<hr>
		<iframe name="ifr" src="../../image/background.png"></iframe>
		<br>
	</div>
</body>
</html>