<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About Us</title>
<link rel="stylesheet" href="../../css/nav_art.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
<style>
video{
	width: 80%;
}
img{
width: 15%;
height: 200px;
}
</style>
</head>
<body>
	<div>
		<h2>ABOUT US</h2>
		<hr>
		<video controls autoplay muted>
			<source src="">
		</video><br>
		
		<input type="image" src="../../image/nike.png" onclick="video.location.src='../../multi/nike.mp4'">
		<img alt="versace" src="../../image/versace.png">
	</div>
</body>
</html>