<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="../../css/nav_art.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
	<div>
	<h2> Contact Us </h2>
	
<a href="https://github.com/gyeomii" target="blank">1. Github</a><br>
<a href="https://velog.io/@gyeomii" target="blank">2. Velog</a><br>
<a href="https://www.notion.so/gyeomii/" target="blank">3. Nortion</a><br>
<a href="https://blog.naver.com/kimsg7388" target="blank">4. Naver Blog</a><br>
	</div>
</body>
</html>