<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../css/section_article.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
	<section>
	<article>XBox
 		<div>
 			<figure><img src="../../images/x-box/x-box.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>448,000원</p>
 			<p>MS의 게임을 즐겨보세요!!최강의 하드웨어!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>어쎄신 크리드
 		 <div>
 			<figure><img src="../../images/x-box/어세신 크리드.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>28,000원</p>
 			<p>파쿠르를 하며 적을 암살하세요!!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>철권7
 		 <div>
 			<figure><img src="../../images/x-box/철권7.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>40,000원</p>
 			<p>눈앞의 적을 눕히세요!!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>호라이즌5
 		 	<div>
 			<figure><img src="../images/x-box/호라이즌5.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>52,000원</p>
 			<p>당신은 최고의 드라이버입니까?</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>MLB더쇼
 		 <div>
 			<figure><img src="../../images/x-box/mlb더쇼.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>45,000원</p>
 			<p>MLB최고의 스타와 함께하세요!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>2k22
 		 <div>
 			<figure><img src="../../images/x-box/2k22.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>39,000원</p>
 			<p>진화한 그레픽으로 NBA를 평정해보세요!</p>
 			<p></p>
 		</div>
 	</article>
 	
 </section>
</body>
</html>