<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../css/section_article.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
	<section>
	<article>
 		<div>
 			<figure><img src="../../image/accessories/1.png"></figure>
 			<input type="button" value="Add to CART" onclick="addCart(0)">
 			<p id="name">La Medusa Leather Belt</p>
 			<p id="price">￦1,048,000</p>
 		</div>
 	</article>
 	
 	<article>
 		 <div>
 			<figure><img src="../../image/accessories/2.png"></figure>
 			<input type="button" value="Add to CART" onclick="addCart(1)">
 			<p id="name">La Greca Leather Belt</p>
 			<p id="price">￦1,400,000</p>
 		</div>
 	</article>
 	
 	<article>
 		 	<div>
 			<figure><img src="../../image/accessories/3.png"></figure>
 			<input type="button" value="Add to CART" onclick="addCart(2)">
 			<p id="name">Gold Safety Pin Belt</p>
 			<p id="price">￦1,520,000</p>
 		</div>
 	</article>
 	
 	<article>
 		 <div>
 			<figure><img src="../../image/accessories/4.png"></figure>
 			<input type="button" value="Add to CART" onclick="addCart(3)">
 			<p id="name">Medusa Squared Sunglasses</p>
 			<p id="price">￦1,405,000</p>
 		</div>
 	</article>
 	
 	<article>
 		 <div>
 			<figure><img src="../../image/accessories/5.png"></figure>
 			<input type="button" value="Add to CART" onclick="addCart(4)">
 			<p id="name">Medusa Biggie Sunglasses</p>
 			<p id="price">￦1,390,000</p>
 		</div>
 	</article>
 	
 	 	<article>2k22
 		 <div>
 			<figure><img src="../../image/accessories/6.png"></figure>
 			<input type="button" value="Add to CART" onclick="addCart(5)">
 			<p id="name">Medusa Shield Sunglasses</p>
 			<p id="price">￦1,309,000</p>
 		</div>
 	</article>
 	
 	 <article>
 		 <div>
 			<figure><img src="../../image/accessories/7.png"></figure>
 			<input type="button" value="Add to CART" onclick="addCart(6)">
 			<p id="name">Gold Baroque Silk Foulard</p>
 			<p id="price">￦1,239,000</p>
 		</div>
 	</article>
 	
 	 	<article>
 		 <div>
 			<figure><img src="../../image/accessories/8.png"></figure>
 			<input type="button" value="Add to CART" onclick="addCart(7)">
 			<p id="name">Gold Baroque Silk Foulard</p>
 			<p id="price">￦1,139,000</p>
 		</div>
 	</article>
 	
 	<article>
	 	<div>
	 		<figure><img src="../../image/logo.png" ></figure>
			<p>　 </p>
			<p> 　</p>
	 	</div>
 	</article>
 	
 </section>
 <script>
 let arrName = ["La Medusa Leather Belt","La Greca Leather Belt","Gold Safety Pin Belt","Medusa Squared Sunglasses",
	 		"Medusa Biggie Sunglasses","Medusa Shield Sunglasses","Gold Baroque Silk Foulard","Gold Baroque Silk Foulard"];
 
 let arrPrice = ["1048000", "1400000", "1520000", "1405000", "1390000", "1309000", "1239000", "1139000"]
/*
 function addCart(num){
	 let idx = parseInt(num);
	 let name = arrName[idx];
	 let price = arrPrice[idx];
	 location.href="../cart.html?" + name + "/" + price;
 }
 */
 </script>
</body>
</html>