<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../css/section_article.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
	<section>
	<article>모니터
 		<div>
 			<figure><img src="../../images/jewelry/1.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>252,000원</p>
 			<p>최고의 그레픽을 그대로 출력하세요! 144hz지원!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>사운드바
 		 <div>
 			<figure><img src="../../images/jewelry/2.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>22,000원</p>
 			<p>현장같은 사운드를 느껴보세요!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>보조베터리
 		 <div>
 			<figure><img src="../images/jewelry/3.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>22,000원</p>
 			<p>장시간 게임도 문제없다! 넘치는 용량!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>HDMI케이블
 		 	<div>
 			<figure><img src="../../images/jewelry/4.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>7,000원</p>
 			<p>고강도 케이블로 접촉불량 제로!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>c타입충전기
 		 <div>
 			<figure><img src="../../images/jewelry/5.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>18,000원</p>
 			<p>충전과 데이터전송도 한번에!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>무선어뎁터
 		 <div>
 			<figure><img src="../../images/jewelry/6.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>19,000원</p>
 			<p>무선기기를 쉽게 연결하세요!!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	 	<article>무선어뎁터
 		 <div>
 			<figure><img src="../../images/jewelry/7.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>19,000원</p>
 			<p>무선기기를 쉽게 연결하세요!!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	 	<article>무선어뎁터
 		 <div>
 			<figure><img src="../../images/jewelry/8.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>19,000원</p>
 			<p>무선기기를 쉽게 연결하세요!!</p>
 			<p></p>
 		</div>
 	</article>
 	
 </section>
</body>
</html>