<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../css/section_article.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
<style>

</style>
</head>
<body>
 <section>
 	<article>닌텐도 스위치&게임 1종
 		<div>
 			<figure><img src="../../images/nintendo/닌탠도 스위치.PNG"></figure>
 			<p>430,000원</p>
 			<p>닌텐도 스위치와 게임 1종을 선택하여<br> 할인된 가격으로 만나보세요!!</p>
 			<input type="button" value="장바구니에 추가">
 		</div>
 	</article>
 	
 	<article>플스본체&게임 1종
 		 <div>
 			<figure><img src="../../images/playstation/플레이스테이션5.PNG"></figure>
 			<p>1,110,000원</p>
 			<p>플레이스테이션5 본체와 게임 1종을 최상의 가격으로!</p>
 			<input type="button" value="장바구니에 추가">
 		</div>
 	</article>
 	
 	<article>엑스박스&게임 1종
 		 <div>
 			<figure><img src="../../images/x-box/x-box.PNG"></figure>
 			<p>450,000원</p>
 			<p>엑스박스와 게임을 한번에!!</p>
 			<p></p>
 			<input type="button" value="장바구니에 추가">
 		</div>
 	</article>
 	
 	<article>슈퍼마리오 테니스_닌텐도스위치
 		 	<div>
 			<figure><img src="../../images/특가/마리오테니스.PNG"></figure>
 			<p>13,000</p>
 			<p>이제 테니스도 집에서 즐겨보세요!특가!</p>
 			<input type="button" value="장바구니에 추가">
 		</div>
 	</article>
 	
 	<article>소닉_플스
 		 <div>
 			<figure><img src="../../images/특가/소닉.PNG"></figure>
 			<p>23,000원</p>
 			<p>소닉같이 빠른 할인!</p>
 			<input type="button" value="장바구니에 추가">
 		</div>
 	</article>
 	
 	<article>SONY해드셋
 		 <div>
 			<figure><img src="../../images/특가/해드셋.PNG"></figure>
 			<p>58,000원</p>
 			<p>게임도 최상의 음질로 프라이빗하게 즐기세요!</p>
 			<input type="button" value="장바구니에 추가">
 		</div>
 	</article>
 	
 </section>
</body>
</html>