@charset "UTF-8";

body {
	min-width : 700px;
	min-height: 100px;
	color: #103232;
	font-family: 'Playfair Display', serif;
}
	

header, nav, aside, section, footer {
	border : none ;
	box-sizing: border-box;
	background: #FFFFEE;
	
}
header{
	background: #FFFFEE;
}
header a{
	font-size : 1.4em;
	
}	

nav{
	padding-top:20px;
	width:100%;
	height : 90px;
	overflow: hidden;
	border: dashed 1px ;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	text-align: center;
}
header{
	height : 150px;
	font-size: 2.5em;
	text-align: center;
	padding-top: 40px;
	font-weight: bold;
}
footer{
	clear : both;
	height : 100px;	
	text-align: center;
	padding-top : 40px;
}

#nav li{
	margin-top : 20px;
	display : inline-block;
	width : 340px;
	height : 40px;
	text-align: center;
	overflow: auto;
	float : none;
}
#nav ul{
	margin : 2px auto;
	margin-left : 10%;
	margin-right : 10%;
    font-size: 1.7em;
}

aside{
	float : left;
}
#left, #right{
	padding-left:10px; 
	padding-right: 10px;
	width : calc(14% );
	height : 800px;
	background: #FFFFEE;
}

#left div{
	font-size: 1.5em;
	text-align: left;
	margin: auto;
	width : 150px;
	height : 30px;
	margin : 20px;
}
section{
	float : left;
	width : calc(72%);
	height : 800px;
}
iframe{
	margin:auto;
	width : 100%;
	height : 793px;
	background:rgb(255, 255, 255);
}
a:link{
		color :#103232;
		text-decoration: none;
	}
a:visited{
		color :rgb(16, 86, 82);
	}
#right input{
	width : 80%;
}
#cart{
	height : 300px;
}
#right div{
	text-align: center;
	font-size: 1.3em;
	margin-top: 20px;
	margin-bottom : 30px;
	border : 1px solid #103232;
	border-left-style:none;
	border-right-style:none;
}


