@charset "UTF-8";
	

	
	section {
		width : 100%;
		height : 900px;
	}
	article{	
		padding-top : 10px;
		font-family: 'Playfair Display', serif;
		font-size : 1.5em;
		text-align: center;
		display : inline-block;
		width : 32%;
		height : 500px;
		margin-left : 2px;
		margin-right : 2px;
	}
	img{
		width : 70%;
		height : 200px;
		margin-left : 15%;
		margin-right : 15%;
	}
	p{
		font-size : 0.8em;
	}