<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/layout.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">


</head>
<body>
<div id="wrapper">
   <header><a href="main.html" target="_self">Gye-om Sung</a></header>
   
   <nav id="nav">
      <ul>
         <li id = "navid">
            <a href="aboutus.html" target="iframe">About Gye-om</a> 
         </li>
         
         <li>
            <a href="qna.html" target="iframe">Contact Us</a> 
         </li>
         
         <li>
            <a href="notice.html" target="iframe">legal Notice</a> 
         </li>
      </ul>
   </nav>
   
   <aside id="left">
	         <div>
	            <a href="saleproc.html" target="iframe">Discount</a>
	         </div>
	         <div>
	            <a href="playstation.html" target="iframe">SHOES</a>
	         </div>
	         <div>
	            <a href="nintendo.html" target="iframe">BAGS</a>
	         </div>
	         <div>
	            <a href="x-box.html" target="iframe">ACCESSORIES</a>
	         </div>
	         <div>
	            <a href="mobile.html" target="iframe">WATCHES</a>
	         </div>
	         <div>
	            <a href="3rddiv.html" target="iframe">JEWELRY</a>
	         </div>
   </aside>
   
   <section>
      <iframe name="iframe" src="saleproc.html" style="border:none" ></iframe>
   </section>

   <aside id="right">
   		<div id="login">Login<br><br>
   			<label>ID</label><br><input type="text"><br>
   			<label>PW</label><br><input type="text"><br><br>
   			<input type="button" value="로그인" onclick="alert('서버점검으로 로그인 할 수 없습니다. 불편을드려 죄송합니다. ')">
   			<input type="button" value="회원가입" onclick="iframe.location.href='signup.html'">
   		<br>
   		<br>
   		</div>
   		<div id="cart">CART<br><br><br><br><br>EMPTY<br><br><br>
   			<input type="button" value="장바구니가기" onclick="iframe.location.href='cart.html'">
   		</div>
   		<br>
   		<br>
   </aside>
   
   <footer>
   Powered by Gyeom GY-EOM Sung GROUP Copyright © 2000-2022 Gyeom Sung - All rights reserved
   </footer>
   </div>
</body>
</html>