<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/section_article.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
 <section>
 	<article>닌텐도 스위치
 		<div>
 			<figure><img src="../images/nintendo/닌탠도 스위치.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>44,000원</p>
 			<p>둘이서도 즐겨요! 집에서도 밖에서도!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>마리오파티
 		 <div>
 			<figure><img src="../images/nintendo/슈퍼마리오 파티.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>51,000원</p>
 			<p>마리오와 함께 파티를 즐겨봐요!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>슈퍼마리오
 		 <div>
 			<figure><img src="../images/nintendo/뉴 슈퍼마리오 브라더스.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>38,000원</p>
 			<p>고전 슈퍼 마리오를 최상의 그래픽으로 즐겨요!</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>동물의숲
 		 	<div>
 			<figure><img src="../images/nintendo/동물의숲.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>54,000원</p>
 			<p>친근한 동물들과 힐링을 느껴봐요~</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>마리오카트
 		 <div>
 			<figure><img src="../images/nintendo/마리오카트.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>44,000원</p>
 			<p>좌충우돌!마리오와 1등을 노려봐요</p>
 			<p></p>
 		</div>
 	</article>
 	
 	<article>핸들콘솔
 		 <div>
 			<figure><img src="../images/nintendo/핸들세트.PNG"></figure>
 			<input type="button" value="장바구니에 추가">
 			<p>24,000원</p>
 			<p>실제로 운전하는 느낌을 선사합니다!!</p>
 			<p></p>
 		</div>
 	</article>
 	
 </section>
</body>
</html>